@use "./variables.scss" as *;

:root {
  --bodyFont: "LXGW WenKai Screen", serif;
  --headerFont: "LXGW WenKai Screen", serif;
  --codeFont: "JetBrains Mono", monospace;
}

.note-properties {
  display: none;
}

.page article {
  :is(strong, b) {
    color: red;
  }

  p > :is(strong, b) {
    color: red;
  }

  :is(em, i) {
    color: green;
  }
}
