@use "./variables.scss" as *;

:root {
  --bodyFont: "LXGW WenKai Screen", serif;
  --headerFont: "LXGW WenKai Screen", serif;
  --codeFont: "JetBrains Mono", monospace;
}

.note-properties {
  display: none;
}
